body {
  font-family: 'Roboto', sans-serif;
}

.home {
  margin: auto;
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop, .ship {
  list-style: none;
  padding-left: 85px;
  display: flex;
}

.drop, .ship, .line {
  display: inline-block;
  margin-right: 2rem;
  gap: 1rem;
}

.line a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: 10px;
  white-space: nowrap;
  border-radius: 5px;
  font-size: medium;
}

.line a:hover {
  background-color: rgb(11, 21, 115);
  color: #f9f9f9;
}

.landing{
  padding-right: 250px;
  font-weight: 900;
  font-size: 2rem;
}

.buy{
  width: 10%;
  padding: 10px;
  background-color: rgb(11, 21, 115);
  color: #ffffff;
  border: none;
  display: inline-block;
  margin-right: 150px;
}

.buy:hover {
  background-color: #fb05ff;
}

.buy:focus {
  box-shadow: 0 0 5px rgb(7, 230, 234);
}

.img_wrap {
  position: relative;
}

#photo1, #photo2 {
  position: absolute;
  top: 0;
}

#photo1 img, #photo2 img {
  display: block;
  width: 100%; /* Ширина изображений на всю ширину родительского контейнера */
  height: auto; /* Сохранение пропорций изображений */
  right: 55px;
}

#photo1 {
  z-index: 1; /* photo1 должно быть ниже photo2 */
}

#photo2 {
  z-index: 2; /* photo2 должно быть поверх photo1 */
  right: 0; /* Располагаем photo2 по правому краю */
  width: 50%;
}
h1 {
  position: absolute;
 padding-right: 650px;
  z-index: 10;
  padding-top: 250px; 
  font-size: 50px;
  font-weight: 600;
  padding-left: 180px;
}

p {
 font-size: 20px;
  position: absolute;
  text-align: left;
  z-index: 10; 
 padding-top: 420px;
 padding-left: 180px;
 padding-right: 700px;
}
.UI{
  width: 12%;
  padding: 10px;
  background-color: rgb(11, 21, 115);
  color: #ffffff;
  border: none;
  margin-left: 180px;
  margin-top: 630px;
  position: absolute;
  z-index: 10; 
}
.learn{
  width: 12%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-color: black;
  margin-left: 400px;
  margin-top: 630px;
  position: absolute;
  z-index: 10; 
}
