body {
  font-family: 'Roboto', sans-serif;
}
.main{
  position: relative;
 
}
.home {
  margin: auto;
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop, .ship {
  list-style: none;
  padding-left: 85px;
  display: flex;
}

.drop, .ship, .line {
  display: inline-block;
  margin-right: 2rem;
  gap: 1rem;
}

.line a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: 10px;
  white-space: nowrap;
  border-radius: 5px;
  font-size: medium;
}

.line a:hover {
  background-color: rgb(11, 21, 115);
  color: #f9f9f9;
}

.landing{
  padding-right: 250px;
  font-weight: 900;
  font-size: 2rem;
}

.buy{
  width: 10%;
  padding: 10px;
  background-color: rgb(11, 21, 115);
  color: #ffffff;
  border: none;
  display: inline-block;
  margin-right: 150px;
  z-index: 2;
}

.buy:hover {
  background-color: #fb05ff;
}

.buy:focus {
  box-shadow: 0 0 5px rgb(7, 230, 234);
}

#photo1, #photo2 {
  position: absolute;
  top: 0;
  width: 60%;
  right: 0;
  z-index: 1;
}
#photo2 {
  padding-top: 100px;
  width: 600px;
}
.product{
  z-index: 1;
  position: relative;
  padding-bottom: 250px;
}
h1 {
  position: absolute;
 padding-right: 650px;
  padding-top: 250px; 
  font-size: 50px;
  font-weight: 600;
  padding-left: 180px;
}

.content {
 font-size: 20px;
  position: absolute;
  text-align: left;
 padding-top: 420px;
 padding-left: 180px;
 padding-right: 700px;
}
.UI{
  width: 12%;
  padding: 10px;
  background-color: rgb(11, 21, 115);
  color: #ffffff;
  border: none;
  margin-left: 180px;
  margin-top: 630px;

}
.learn{
  width: 12%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-color: black;
  margin-left: 60px;
  margin-top: 630px;
   
}
.container{

z-index: 1;
  text-align: left;
display: flex;
flex-direction: row;
flex-wrap: nowrap;

}
.photo{
  width: 650px;
 height: auto;
 padding-left: 50px;
 padding-bottom: 100px;
}
.content1{
  padding-top: 20px;
 padding-left: 100px;
 padding-right: 100px;
 padding-bottom: 250px;
}
h3{
  font-weight: 700;
  font-size: 30px;
  padding-top: 100px;
 padding-left: 100px;
 padding-right: 100px;
 
}
.container1{
  margin-top: 100px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 100px;
}
.tex1{
  padding-left: 150px;
}
.photo1{
  width: 650px;
 height: auto;
 padding-left: 50px;
 padding-bottom: 100px;
}
.content2{
  padding-top: 20px;
 padding-left: 100px;
 padding-right: 100px;
 padding-bottom: 250px;
}
.container3{
  margin-top: 150px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.photo2{
  width: 650px;
  height: auto;
  padding-left: 50px;
 
}
.content3{
padding-top: 50px;
 padding-left: 100px;
 padding-right: 70px;
padding-bottom: 100px;
}
.now{
  width: 12%;
 padding: 10px;
  background-color: rgb(11, 21, 115);
  color: #ffffff;
  border: none;
}
.pricing{
  text-align: center;
}
.price{
  font-size: 34px;
  font-weight: 500;
  color: rgb(11, 18, 86);
}
.words{
  padding-left: 500px;
  padding-right: 500px;
  color: rgb(70, 135, 201);
}
.num{
  font-size: 40px;
  font-weight: 700;
  color: rgb(11, 18, 86);
  margin-bottom: 0;
}
.kit{
  color: rgb(11, 18, 86);
  padding-bottom: 70px;
  margin-top: 3;
}
.purchase{
  width: 12%;
 padding: 10px;
  background-color: rgb(11, 21, 115);
  color: #ffffff;
  border: none;
}
.simple{
  font-weight: 200;
  font-size: 13px;
}